<a href="https://colab.research.google.com/github/Bencki/ML-Bootcamp-Python-AdoZ/blob/main/ML_Bootcamp_Python_AdoZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import numpy as np
 import pandas as pd
 import sklearn

In [24]:
data = {
    'size': ['XL', 'L', 'M', 'L',  'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 419],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df_raw = pd.DataFrame(data=data)
df_raw

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     419    yes

In [25]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [26]:
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')

df['weight'] = df['weight'].astype('float')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 628.0 bytes

In [28]:
df.describe()

            price      weight
count    5.000000    5.000000
mean   119.000000  409.800000
std     48.476799   75.466549
min     79.000000  300.000000
25%     89.000000  380.000000
50%     99.000000  419.000000
75%    129.000000  450.000000
max    199.000000  500.000000

In [29]:
df.describe().T

        count   mean        std    min    25%    50%    75%    max
price     5.0  119.0  48.476799   79.0   89.0   99.0  129.0  199.0
weight    5.0  409.8  75.466549  300.0  380.0  419.0  450.0  500.0

In [30]:
df.describe(include=['category']).T

       count unique     top freq
size       5      3       M    2
color      5      3     red    2
gender     5      2  female    3
bought     5      2     yes    3

##LabelEncoder

In [31]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])

array([1, 0, 1, 0, 1])

In [32]:
le.fit_transform(df['bought'])

array([1, 0, 1, 0, 1])

In [33]:
le.classes_

array(['no', 'yes'], dtype=object)

In [34]:
df['bought'] = le.fit_transform(df['bought'])

In [35]:
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   419.0       1

In [36]:
le.inverse_transform(df['bought'])

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

##OneHotEncoder

In [37]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False)
encoder.fit(df[['size']])

OneHotEncoder(sparse=False)

In [38]:
encoder.transform(df[['size']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [39]:
encoder.categories_

[array(['L', 'M', 'XL'], dtype=object)]

In [40]:
encoder = OneHotEncoder(drop='first', sparse=False)
encoder.fit(df[['size']])
encoder.transform(df[['size']])

array([[0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.]])

##Pandas get_dummies()

In [41]:
pd.get_dummies(data=df)

   price  weight  bought  ...  color_red  gender_female  gender_male
0  199.0   500.0       1  ...          1              1            0
1   89.0   450.0       0  ...          0              0            1
2   99.0   300.0       1  ...          0              0            1
3  129.0   380.0       0  ...          0              1            0
4   79.0   419.0       1  ...          1              1            0

[5 rows x 11 columns]

In [42]:
pd.get_dummies(data=df, drop_first=True)

   price  weight  bought  size_M  size_XL  color_green  color_red  gender_male
0  199.0   500.0       1       0        1            0          1            0
1   89.0   450.0       0       0        0            1          0            1
2   99.0   300.0       1       1        0            0          0            1
3  129.0   380.0       0       0        0            1          0            0
4   79.0   419.0       1       1        0            0          1            0

In [43]:
pd.get_dummies(data=df, drop_first=True, prefix='new')

   price  weight  bought  new_M  new_XL  new_green  new_red  new_male
0  199.0   500.0       1      0       1          0        1         0
1   89.0   450.0       0      0       0          1        0         1
2   99.0   300.0       1      1       0          0        0         1
3  129.0   380.0       0      0       0          1        0         0
4   79.0   419.0       1      1       0          0        1         0

##Standaryzacja

In [44]:
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   419.0       1

In [45]:
from sklearn.preprocessing import scale

scale(df['price'])

array([ 1.84506242, -0.69189841, -0.4612656 ,  0.2306328 , -0.92253121])

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df[['price']])
scaler.transform(df[['price']])

array([[ 1.84506242],
       [-0.69189841],
       [-0.4612656 ],
       [ 0.2306328 ],
       [-0.92253121]])

In [47]:
scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])
df

  size  color  gender     price    weight  bought
0   XL    red  female  1.845062  1.336309       1
1    L  green    male -0.691898  0.595561       0
2    M   blue    male -0.461266 -1.626683       1
3    L  green  female  0.230633 -0.441486       0
4    M    red  female -0.922531  0.136298       1

##Przygotowanie danych do modelu

In [50]:
le = LabelEncoder()

df['bought'] = le.fit_transform(df['bought'])

scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])

df = pd.get_dummies(data=df, drop_first=True)
df

      price    weight  bought  ...  color_green  color_red  gender_male
0  1.845062  1.336309       1  ...            0          1            0
1 -0.691898  0.595561       0  ...            1          0            1
2 -0.461266 -1.626683       1  ...            0          0            1
3  0.230633 -0.441486       0  ...            1          0            0
4 -0.922531  0.136298       1  ...            0          1            0

[5 rows x 8 columns]